*{
    box-sizing: border-box;
}
body{
  background-color: #222;
}

.wrap{
  max-width: 58.75rem;
  margin: 0 auto;
}

.main-body-text{
  border-top: 6px solid #fff;
  background-color: #444;
  font-weight: 400;
  color: #eee;
  font-size: 1rem;
  line-height: 1.5em;
  font-family: "Lucida Console";
  padding: 8px 12px;
};

main-body-text hr{
  height:1px;border-width: 0;
  color: gray;
  background-color: #fff;
}

hr{
  height:1px;border-width: 0;
  color: gray;
  background-color: #fff;
}
